a.active, a.active:focus, a.active:hover {
  color: #fff !important;
  background-color: #178acc !important;
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}
a.navbar-brand {
  width: 200px;
  text-align: center;
}

::-webkit-scrollbar { width:5px; }
::-webkit-scrollbar-track { background-color:#ddd; }
::-webkit-scrollbar-thumb { background-color:#aaa; border-radius:10px; }

select.form-control { padding: 0px 12px; }

table.table-ticket tbody tr:hover td,
table.table-hover > tbody > tr:hover { background-color: #53B3EB; color: #FFF; }
table.table-ticket tbody tr:hover td { color: #555; }
tfoot { background: #EEE; text-align: center }
tfoot span { height: 32px; }
table.table-ticket > tbody > tr > td,
table.table-ticket > tfoot > tr > td { padding: 0; }
table.table-ticket input {
  border: none;
  padding: 3px 10px !important;
  height: 32px;
}
.table-ticket input { width: 100%; }
.ticket-txt { width: 220px; }
.ticket-num { width: 100px; }
.ticket-tot { width: 100px; }

.w-50 { width: 50px; }
